* {
    border: solid 1px black;
}

body {
    background-color: red;
    font-family: 'Lato', sans-serif;
}

p {
    font-family: 'Alfa Slab One', serif;
    font-size: 4em;
}

p i {
    font-size: 0.5em !important;
}

.container {
    text-align: center;
}

.wholeGame {
    position: relative;
    display: inline-block;
    width: 42.2em;
    height: 42.2em;
}

.grayBackground {
    position: absolute;
    display:inline-block;
    width:0;
    height:0;
    line-height:0;
    border:21.2em solid #454545;
    border-radius:21.2em;
    left:0em;
    top:0em;
}

.green {
    position: absolute;
    display:inline-block;
    width:0;
    height:0;
    line-height:0;
    border:20em solid #32d600;
    border-bottom:none;
    border-right:none;
    border-top-left-radius:20em;
    left:0.80em;
    top:0.80em
}

.red {
    position: absolute;
    display:inline-block;
    width:0;
    height:0;
    line-height:0;
    border:20em solid #d60000;
    border-bottom:none;
    border-left:none;
    border-top-right-radius:20em;
    left:21.40em;
    top:0.80em
}

.yellow {
    position: absolute;
    display:inline-block;
    width:0;
    height:0;
    line-height:0;
    border:20em solid #fbff00;
    border-top:none;
    border-right:none;
    border-bottom-left-radius:20em;
    left:0.80em;
    top:21.40em
}

.blue {
    position: absolute;
    display:inline-block;
    width:0;
    height:0;
    line-height:0;
    border:20em solid #006dff;
    border-top:none;
    border-left:none;
    border-bottom-right-radius:20em;
    left:21.40em;
    top:21.40em
}

.grayBorder {
    position: absolute;
    display:inline-block;
    width:0;
    height:0;
    line-height:0;
    border:11em solid #454545;
    border-radius:11em;
    left:10.4em;
    top:10.4em
}

.whiteInside {
    position: absolute;
    display:inline-block;
    width:0;
    height:0;
    line-height:0;
    border:10em solid #ffffff;
    border-radius:10em;
    left:11.4em;
    top:11.4em
}

